img{
    width: 600px;
    height: 600px;
    margin: 10% auto;
}

button{
    color: blue;
    background: lightgrey;
    
}

p{
    padding: 10px;
}

footer {
    text-align: center;
    padding: 20px;
}